<div class="main-wrapper">
    <app-student-header></app-student-header>
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col">
                        <h3 class="page-title">Monthly Calender</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/student-dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item active">Monthly Calender</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">View All Holidays Day Wise</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                         <select class="form-control" name="month" id="month" [(ngModel)]="selectedMonth">
                                            <option *ngFor="let month of months" [value]="month">{{ month }}</option>
                                          </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                         <select class="form-control" name="year" id="year" [(ngModel)]="selectedYear">
                                            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                                          </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit">GO</button>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <a style="padding: 10px" class="btn-secondary bg-danger pt-2 pb-2 w-100 border-0" href="/add-monthly-calender">Add Event</a>
                                    </div>
                                </div>
                            </div>
                            <div class='demo-app'>
                                <div class='demo-app-main'>
                                  <!-- <full-calendar *ngIf='calendarVisible()' [options]='calendarOptions()'>
                                    <ng-template #eventContent let-arg>
                                      <b>{{ arg.timeText }}</b>
                                      <i>{{ arg.event.title }}</i>
                                    </ng-template>
                                  </full-calendar> -->
                                  <!-- <full-calendar #calendar [options]="calendarOptions">
                                    <ng-template #eventContent let-arg>
                                        <b>{{ arg.timeText }}</b>
                                        <i>{{ arg.event.title }}</i>
                                      </ng-template>
                                  </full-calendar> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-student-footer></app-student-footer>
</div>