<div class="main-wrapper">
    <app-header></app-header>
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col">
                        <h3 class="page-title">Add Teacher</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="#"> Teacher </a></li>
                            <li class="breadcrumb-item active">Add Teacher</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Add Teacher</h5>
                        </div>
                        <div class="card-body">
                            <form #form="ngForm" (ngSubmit)="addTeacher()">
                                <input type="hidden" name="hfSubjectID" [(ngModel)]="Teacher.TeacherID" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Registration No</label>
                                            <input type="text" name="RegistrationNo" (keypress)="numberOnly($event)"
                                                class="form-control" placeholder="Registration No"
                                                [(ngModel)]="Teacher.RegistrationNo" [disabled]="!isEditMode">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Name <span class="required">*</span></label>
                                            <input type="text" name="Name" class="form-control" placeholder="Name"
                                                [(ngModel)]="Teacher.TeacherName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>User Name <span class="required">*</span></label>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <input type="text" name="UserName" class="form-control"
                                                        placeholder="User Name " [(ngModel)]="Teacher.UserName"
                                                        [disabled]="!isEditMode">
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" placeholder="User Name"
                                                        disabled value=".d.a">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Password <span class="required">*</span></label>
                                            <input type="password" name="Password" class="form-control"
                                                placeholder="Password" [(ngModel)]="Teacher.UserPassword">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Birthday <span class="required">*</span></label>
                                            <input type="date" name="Birthday" class="form-control"
                                                [(ngModel)]="Teacher.DateofBirth">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Date of Joining <span class="required">*</span></label>
                                            <input type="date" name="DateofJoining" class="form-control"
                                                [(ngModel)]="Teacher.DateofJoining">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Gender</label>
                                            <div class="row">
                                                <div class="col-md-3" *ngFor="let gender of genders">
                                                    <div class="form-check">
                                                        <input type="radio" id="male" name="gender"
                                                            class="form-check-input"
                                                            (change)="onGenderChange(gender)"
                                                            [(ngModel)]="selectedGender" [value]="gender"
                                                            id="{{ gender }}" name="gender">
                                                        <label for="male" class="form-check-label">{{ gender }}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Country</label>
                                            <select class="form-control" name="Country" [(ngModel)]="Teacher.Country">
                                                <option value="India">India</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Phone <span class="required">*</span></label>
                                            <input type="text" name="Phone" (keypress)="numberOnly($event)"
                                                class="form-control" placeholder="Phone" [(ngModel)]="Teacher.Phone">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Public Contact / WhatsApp</label>
                                            <input type="text" name="PublicContactWhatsApp" class="form-control"
                                                (keypress)="numberOnly($event)" placeholder="Public Contact / WhatsApp"
                                                [(ngModel)]="Teacher.PublicContactWhatsApp">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Email <span class="required">*</span></label>
                                            <input type="email" name="Email" class="form-control" placeholder="Email"
                                                [(ngModel)]="Teacher.Email">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Speciality</label>
                                            <input type="text" name="Speciality" class="form-control"
                                                placeholder="Speciality" [(ngModel)]="Teacher.Speciality">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Qualification <span class="required">*</span></label>
                                            <input type="text" name="Qualification" class="form-control"
                                                placeholder="Qualification" [(ngModel)]="Teacher.Qualification">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Spouse Name</label>
                                            <input type="text" name="SpouseName" class="form-control"
                                                placeholder="Spouse Name" [(ngModel)]="Teacher.SpouseName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Mother Name</label>
                                            <input type="text" name="MotherName" class="form-control"
                                                placeholder="Mother Name" [(ngModel)]="Teacher.MotherName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Father Name <span class="required">*</span></label>
                                            <input type="text" name="FatherName" class="form-control"
                                                placeholder="Father Name" [(ngModel)]="Teacher.FatherName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Father Mobile No <span class="required">*</span></label>
                                            <input type="text" name="FatherMobileNo" class="form-control"
                                                (keypress)="numberOnly($event)" placeholder="Father Mobile No"
                                                [(ngModel)]="Teacher.FatherMobileNo">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Mother Mobile No</label>
                                            <input type="text" name="MotherMobileNo" class="form-control"
                                                (keypress)="numberOnly($event)" placeholder="Mother Mobile No"
                                                [(ngModel)]="Teacher.MotherMobileNo">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Blood Group <span class="required">*</span></label>
                                            <input type="text" name="BloodGroup" class="form-control"
                                                placeholder="Blood Group" [(ngModel)]="Teacher.BloodGroup">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Experience Details <span class="required">*</span></label>
                                            <input type="text" name="ExperienceDetails" class="form-control"
                                                placeholder="Experience Details"
                                                [(ngModel)]="Teacher.ExperienceDetails">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Permanent Address <span class="required">*</span></label>
                                            <textarea name="PermanentAddress" id="PermanentAddress" cols="30" rows="10"
                                                class="form-control" placeholder="Permanent Address"
                                                [(ngModel)]="Teacher.PermanentAddress"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Local Address <span class="required">*</span></label>
                                            <textarea name="LocalAddress" id="LocalAddress" cols="30"
                                                class="form-control" placeholder="Local Address" rows="10"
                                                [(ngModel)]="Teacher.LocalAddress"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Bank Name</label>
                                            <input type="text" name="BankName" class="form-control"
                                                placeholder="Bank Name" [(ngModel)]="Teacher.BankName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Bank a/c. Detail</label>
                                            <input type="text" name="BankacDetail" class="form-control"
                                                placeholder="Bank a/c. Detail" (keypress)="numberOnly($event)"
                                                [(ngModel)]="Teacher.BankACNo">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Bank IFSC Code</label>
                                            <input type="text" name="BankIFSCCode" class="form-control"
                                                placeholder="Bank IFSC Code" [(ngModel)]="Teacher.BankIFSCCode">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Aadhaar Number</label>
                                            <input type="text" name="AadhaarNumber" class="form-control"
                                                placeholder="Aadhaar Number" [(ngModel)]="Teacher.AadhaarNumber">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Pan Card</label>
                                            <input type="text" name="PanCard" class="form-control"
                                                placeholder="Pan Card" [(ngModel)]="Teacher.PanCard">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Passport</label>
                                            <input type="text" name="Passport" class="form-control"
                                                placeholder="Passport" [(ngModel)]="Teacher.Passport">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>DL Details</label>
                                            <input type="text" name="DLDetails" class="form-control"
                                                placeholder="DL Details" [(ngModel)]="Teacher.DLDetails">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>PF Account Number</label>
                                            <input type="text" name="PFAccountNumber" class="form-control"
                                                placeholder="PF Account Number" (keypress)="numberOnly($event)"
                                                [(ngModel)]="Teacher.PFAccountNumber">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Photo</label>
                                            <input type="file" (change)="onFileChangePhoto($event)"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Signature</label>
                                            <input type="file" (change)="onFileChangeSignature($event)"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group mb-0 row">
                                        <div class="col-md-10">
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row" *ngIf="AllSub">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example" class="datatable table table-stripped table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>SrNo</th>
                                            <th>Subject Name</th>
                                            <th>Subject Code</th>
                                            <th>Sequence Number</th>
                                            <th>Subject Type</th> 
                                            <th>Edit</th>
                                            <th>Delete</th>  
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let subject of AllSub.AllSubjects; let i = index">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{subject.SubjectName}}</td>
                                            <td>{{subject.SubjectCode}}</td>
                                            <td>{{subject.SequenceNo}}</td>
                                            <td>{{subject.SubjectType}}</td>
                                            <td><a (click)="EditSubject(subject.SubjectID)"><i class="fa fa-edit"    aria-hidden="true"></i></a></td>
                                            <td><a (click)="DeleteSubject(subject.SubjectID)"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <app-footer></app-footer>
</div>