<div class="main-wrapper">
    <app-student-header></app-student-header>
        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">View All My Test</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <b class="std_details">View All My Test</b>
                                <a href="#" class="btn btn-primary">Test Result</a>
                                <!-- <a href="https://account.campuscover.com/admin/viewresult/student" class="btn btn-primary">Test Result</a> -->
                            </div>
                            <div class="panel-body">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="small-box bg-info">
                                                <div class="inner">
                                                    <p>12 Feb 2023 </p>
                                                    <p>Today testing</p>
                                                    <div class="table_box">
                                                        <table class="table">
                                                        </table>
                                                    </div>
                                                    <p><b></b></p>
                                                </div>
                                                <div class="icon">
                                                    <i class="fa fa-book"></i>
                                                </div>
                                                <a href="#" class="text-danger width100 btn btn-warning">Time Duration 60 Mins<hr>
                                                    Start Exam</a>
                                                <!-- <a href="https://account.campuscover.com/startapi/onlineexamapi/125574_6934_82" class="text-danger width100 btn btn-warning">Time Duration 60 Mins<hr>
                                                    Start Exam</a> -->
                                            </div>
                                        </td>
                                        <td>
                                            <div class="small-box bg-info">
                                                <div class="inner">
                                                    <p>19 Dec 2022 </p>
                                                    <p>Chapter 1</p>
                                                    <div class="table_box">
                                                        <table class="table">
                                                        </table>
                                                    </div>
                                                    <p><b>English</b></p>
                                                </div>
                                                <div class="icon">
                                                    <i class="fa fa-book"></i>
                                                </div>
                                                <a href="#" class="text-danger width100 btn btn-warning">Time Duration 60 Mins<hr>
                                                    Start Exam</a>
                                                <!-- <a href="https://account.campuscover.com/startapi/onlineexamapi/125574_6775_82" class="text-danger width100 btn btn-warning">Time Duration 60 Mins<hr>
                                                    Start Exam</a> -->
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <app-student-footer></app-student-footer>
</div>