<div class="main-wrapper">
    <app-student-header></app-student-header>
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col">
                        <h3 class="page-title">View Classwork</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/student-dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item active">View Classwork</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">List of all classwork</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button class="btn btn-primary me-sm-2" type="submit">Copy Correction</button>
                                        <button class="btn btn-warning me-sm-2" type="submit">Videos</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form #form="ngForm">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <select [(ngModel)]="selectedFirstIndex" (change)="updateSecondDropdownOptions()" 
                                                class="form-control" name="classID" id="classID">
                                               <option *ngFor="let class of AllCla.AllClass" [value]="class.ClassID">{{ class.ShortName }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <select class="form-control" name="sectionID" id="sectionID">
                                               <option *ngFor="let section of AllSect.AllSection" [value]="section.SectionID">{{ section.Name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <select class="form-control" name="sectionID" id="sectionID">
                                                <option>Select Teacher</option>
                                                <option *ngFor="let teacher of AllTeacher.AllTeacherName" [value]="teacher.TeacherID">{{ teacher.Name }}</option>
                                             </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search Daily Notes" name="Search" id="Search">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <button class="btn btn-primary" type="submit">GO</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        No record found !!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-student-footer></app-student-footer>
</div>