<div class="main-wrapper">
    <app-student-header></app-student-header>
    <div class="page-wrapper">
        <div class="col-md-12">
        
<section class="content" style="margin-top:50px">
<!-- Main row -->
<div class="row">

            <div class="col-md-4">
        <div class="image-center" style="text-align: center;margin-bottom: 20px;">
            <img style="height: 100px;text-align: center;" src="https://s3.amazonaws.com/campuscover1212/student/82_214_1593459330.jpg" class="img-circle"
                alt="User Image">
        </div>
                    <div class="table-responsive">
            <table class="table no-margin table-bordered">
                <tr>
                    <th>Name</th>
                    <td>Jatin Sharma </td>
                </tr>
                <tr>
                    <th>Class</th>
                    <td>I</td>
                </tr>
                <tr>
                    <th>Roll No.</th>
                    <td>2 </td>
                </tr>
                                    <tr>
                    <th>reg_no</th>
                    <td> </td>
                </tr>
                
                <tr>
                    <th>Father's Name</th>
                    <td>Mr. Ashutosh Sharma </td>
                </tr>
                <tr>
                    <th>Mother's Name</th>
                    <td>Mrs. Aarti Sharma </td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>7004680810 </td>
                </tr>
                <tr>
                    <th>House</th>
                    <td style="background-color:GREEN">
                        <b>GREEN</b>
                    </td>
                </tr>
                                    <tr>
                    <th>DOB</th>
                    <td>28 Apr 2002 </td>
                </tr>
                                </table>
        </div>
    </div>

    <!-- Left col -->
    <div class="col-md-8 col-sm-6 col-xs-12"
        style="position: relative;background: #f8fafb;border-radius: 20px 20px 0px 0px ;">
        <div class="row"
            style="font-weight: bold;height:40px;background: #b8bbbc;border-radius: 20px 20px 0px 0px;">
            <span style="text-align: center;margin-top: 8px;">Latest Notices </span><a
                style="position: absolute;text-align: right;margin-top: 10px;"
                href="/noticeboard" class="pull-right text-danger">View
                All</a>
        </div>

        <div style="height: 360px;width:100%;float:left;overflow-y: auto;text-align: justify;">
            <br>
                            <div class="col-md-12">
                <b>test</b>
                <br>test                    <span style="float: right;"
                    class="fontsmall"><b>02 Nov , 2023</b></span>

            </div>
            <hr style="float: left;width: 100%;">
                            <div class="col-md-12">
                <b>test2</b>
                <br>test2                    <span style="float: right;"
                    class="fontsmall"><b>26 Oct , 2023</b></span>

            </div>
            <hr style="float: left;width: 100%;">
                            <div class="col-md-12">
                <b>Yearly Holidays and events</b>
                <br>
                <span style="float: right;"
                    class="fontsmall"><b></b></span>

            </div>
            <hr style="float: left;width: 100%;">
                            <div class="col-md-12">
                <b>Sunday</b>
                <br>Tomorrow it will be holiday                    <span style="float: right;"
                    class="fontsmall"><b>22 Jul , 2023</b></span>

            </div>
            <hr style="float: left;width: 100%;">
                            <div class="col-md-12">
                <b>holiday</b>
                <br>holiday                    <span style="float: right;"
                    class="fontsmall"><b>20 Jul , 2023</b></span>

            </div>
            <hr style="float: left;width: 100%;">
                            <div class="col-md-12">
                <b>Holiday</b>
                <br>thera will be holiday on monday due to hot weather                    <span style="float: right;"
                    class="fontsmall"><b>24 Jul , 2023</b></span>

            </div>
            <hr style="float: left;width: 100%;">
                            <div class="col-md-12">
                <b>Absent </b>
                <br>Absent                    <span style="float: right;"
                    class="fontsmall"><b>13 May , 2023</b></span>

            </div>
            <hr style="float: left;width: 100%;">
                            <div class="col-md-12">
                <b>Abdent</b>
                <br>U r absent                     <span style="float: right;"
                    class="fontsmall"><b>13 May , 2023</b></span>

            </div>
            <hr style="float: left;width: 100%;">
                        </div>
    </div>
    <!-- /.col -->


    <div class="col-md-3 gallery hide">
                    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
    </div>




</div>

<div class="row">


    <div class="col-md-12">
        <div id="monthly_calendar_admin"></div>
    </div>

    <div class="col-md-12">
                    <!-- PRODUCT LIST -->
        <div class="box box-primary hide">
            <div class="box-header with-border">
                <h3 class="box-title">Class Routine</h3>
            </div>
            <!-- /.box-header -->
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info">
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <tbody>
                                <tr class="gradeA">
                                    <th width="100">SUN</th>
                                                                        </tr>
                                <tr class="gradeA">
                                    <th width="100">MON</th>
                                                                        </tr>
                                <tr class="gradeA">
                                    <th width="100">TUE</th>
                                                                        </tr>
                                <tr class="gradeA">
                                    <th width="100">WED</th>
                                                                        </tr>
                                <tr class="gradeA">
                                    <th width="100">THU</th>
                                                                        </tr>
                                <tr class="gradeA">
                                    <th width="100">FRI</th>
                                                                        </tr>
                                <tr class="gradeA">
                                    <th width="100">SAT</th>
                                                                        </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
</section>
    <app-student-footer></app-student-footer>
</div>