<div class="main-wrapper">
    <app-student-header></app-student-header>
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col">
                        <h3 class="page-title">Live Classes</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/student-dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item active">Live Classes</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-7">
                                    <h5 class="card-title">All Lesson List</h5>
                                </div>
                                <div class="col-md-5">
                                    <button class="btn btn-primary me-sm-2" type="submit">Lesson Plan</button>
                                    <button class="btn btn-warning me-sm-2" type="submit">Video Tutorial</button>
                                    <button class="btn btn-danger" type="submit">Download</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="row mt-5">
                                    <div class="instruction">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <strong>Instruction : </strong>Join class from<strong> Zoom APP</strong>
                                                <p class="fs-5">Download your Classes Routine | <strong>Current Time </strong> : 12 : 27 PM</p>
                                            </div>
                                        </div>
                                        <div class="row p-0 m-0">
                                            <div class="text-center">
                                                <hr>
                                                <p class="fs-5">Meeting Password is :<strong>12345</strong> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <hr>
                                    <p class="fs-5 fw-bold text-danger text-center">CAMPUS COVER ERP SOFTWARE</p>
                                </div>
                                <div class="row">
                                    <hr>
                                    <p class="fs-5 fw-bold text-danger text-center">LIST OF TODAY'S CLASS</p>
                                </div>
                                <div class="assignment" style="border-radius: 0;padding: 0;">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="row">
                                                <div class="d-flex w-25">
                                                    <p style="border: 0.5px solid #b3b3b3;width: 50px;height: 50px;border-radius: 100%;padding: 14px 19px;margin-left: -18px;position: relative;bottom: 19px;">1</p>
                                                    <h5 style="margin: 15px;">SST</h5>
                                                </div>
                                                <div class="d-flex justify-content-around">
                                                    <div class="m-lg-1">
                                                        <h6>ID : 862 103 8519</h6>
                                                    </div>
                                                    <div class="m-lg-1">
                                                        <h6>Password :</h6>
                                                        <h6>12323</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-7 col-md-7">
                                            <div class="mt-3">
                                                <div class="sub-decrip sub-liv">
                                                    <div class="d-flex justify-content-between">
                                                        <p>09:00 AM - 09:55 AM</p>
                                                        <p><strong>Starts At :</strong> 08:45 AM</p>
                                                    </div>
                                                </div>
                                                <div class="row mt-2 m-auto">
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <div class="d-flex justify-content-between">
                                                            <p><strong>By :</strong> Mr. Alok Jha</p>
                                                            <p class="d-inline">Wednesday | Tuesday | Thursday | Friday | Saturday |</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div>
                                            <div class="assignment">
                                                <div class="row m-0">
                                                    <div class="col-lg-4">
                                                        <p>CreatedDate</p>
                                                        <p><b>Subject</b></p>
                                                        <p style="color: orange;">For NoticeFor</p>
                                                        <div class="row">
                                                            <div class="col-sm-6">

                                                            </div>
                                                            <div class="col-sm-6">

                                                            </div>
                                                        </div>
                                                    </div>    
                                                    <div class="col-lg-7">
                                                        <div class="sub-decrip">
                                                            <h5>Notice :</h5>
                                                            <p>Notice</p>
                                                        </div>
                                                    </div>    
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row">
                    <h4 class="video">LIVE CLASSES</h4>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <h3 class="page-title">All Lesson list</h3>

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 text-right">
                        <div class="liv-sec">
                            <button type="submit" class="button-15">Lesson Plan</button>
                            <button type="submit" class="button-15">Video Tutorial</button>
                            <button type="submit" class="button-15">Download</button>
                        </div>

                    </div>
                </div>

                <div class="row mt-5">
                    <div class="instruction">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h5 class="instruct">INSTRUCTION : Join class from Zoom APP</h5>
                                <p class="fs-5">Download your Classes Routine | <strong>Current Time </strong> : 12 : 27 PM</p>
                            </div>
                        </div>
                        <div class="row p-0 m-0">
                            <div class="text-center">
                                <hr>
                                <p class="fs-5">Meeting Password is :<strong>12345</strong> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <hr>
                    <p class="fs-5 fw-bold text-danger text-center">CAMPUS COVER ERP SOFTWARE</p>
                </div>
                <div class="row">
                    <hr>
                    <p class="fs-5 fw-bold text-danger text-center">LIST OF TODAY'S CLASS</p>
                </div>
            </div>
            <div class="assignment" style="border-radius: 0;padding: 0;">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="d-flex w-25">
                                <p style="border: 0.5px solid #b3b3b3;width: 50px;height: 50px;border-radius: 100%;padding: 14px 19px;margin-left: -18px;position: relative;bottom: 19px;">1</p>
                                <h5 style="margin: 15px;">SST</h5>
                            </div>
                            <div class="d-flex justify-content-around">
                                <div class="m-lg-1">
                                    <h6>ID : 862 103 8519</h6>
                                </div>
                                <div class="m-lg-1">
                                    <h6>Password :</h6>
                                    <h6>12323</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="mt-3">
                            <div class="sub-decrip sub-liv">
                                <div class="d-flex justify-content-between">
                                    <p>09:00 AM - 09:55 AM</p>
                                    <p><strong>Starts At :</strong> 08:45 AM</p>
                                </div>
                            </div>
                            <div class="row mt-2 m-auto">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="d-flex justify-content-between">
                                        <p><strong>By :</strong> Mr. Alok Jha</p>
                                        <p class="d-inline">Wednesday | Tuesday | Thursday | Friday | Saturday |</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="assignment" style="border-radius: 0;padding: 0;">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="d-flex w-25">
                                <p style="border: 0.5px solid #b3b3b3;width: 50px;height: 50px;border-radius: 100%;padding: 14px 19px;margin-left: -18px;position: relative;bottom: 19px;">2</p>
                                <h5 style="margin: 15px;">SST</h5>
                            </div>
                            <div class="d-flex justify-content-around">
                                <div class="m-lg-1">
                                    <h6>ID : 862 103 8519</h6>
                                </div>
                                <div class="m-lg-1">
                                    <h6>Password :</h6>
                                    <h6>12323</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 ">
                        <div class="mt-3">
                            <div class="sub-decrip sub-liv">
                                <div class="d-flex justify-content-between">
                                    <p>09:00 AM - 09:55 AM</p>
                                    <p><strong>Starts At :</strong> 08:45 AM</p>
                                </div>
                            </div>
                            <div class="row mt-2 m-auto">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="d-flex justify-content-between">
                                        <p><strong>By :</strong> Mr. Alok Jha</p>
                                        <p class="d-inline">Wednesday | Tuesday | Thursday | Friday | Saturday |</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="assignment" style="border-radius: 0;padding: 0;">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="d-flex w-25">
                                <p style="border: 0.5px solid #b3b3b3;width: 50px;height: 50px;border-radius: 100%;padding: 14px 19px;margin-left: -18px;position: relative;bottom: 19px;">3</p>
                                <h5 style="margin: 15px;">SST</h5>
                            </div>
                            <div class="d-flex justify-content-around">
                                <div class="m-lg-1">
                                    <h6>ID : 862 103 8519</h6>
                                </div>
                                <div class="m-lg-1">
                                    <h6>Password :</h6>
                                    <h6>12323</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 ">
                        <div class="mt-3">
                            <div class="sub-decrip sub-liv">
                                <div class="d-flex justify-content-between">
                                    <p>09:00 AM - 09:55 AM</p>
                                    <p><strong>Starts At :</strong> 08:45 AM</p>
                                </div>
                            </div>
                            <div class="row mt-2 m-auto">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="d-flex justify-content-between">
                                        <p><strong>By :</strong> Mr. Alok Jha</p>
                                        <p class="d-inline"> <strong>Monday |</strong></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <p class="fs-5 fw-bold text-danger text-center">LIST OF OTHER DAY CLASS</p>
            </div>
            <div class="assignment" style="border-radius: 0;padding: 0;">
                <div class="row">
                    <div class="col-lg-4">


                        <div class="row">
                            <div class="d-flex w-25">
                                <p style="border: 0.5px solid #b3b3b3;width: 50px;height: 50px;border-radius: 100%;padding: 14px 19px;margin-left: -18px;position: relative;bottom: 19px;">1</p>
                                <h5 style="margin: 15px;">SST</h5>

                            </div>
                            <div class="d-flex justify-content-around">
                                <div class="m-lg-1">
                                    <h6>ID : 862 103 8519</h6>
                                </div>
                                <div class="m-lg-1">
                                    <h6>Password :</h6>
                                    <h6>12323</h6>
                                </div>
                            </div>




                        </div>

                    </div>

                    <div class="col-lg-7 col-md-7 ">
                        <div class="mt-3">
                            <div class="sub-decrip sub-liv">
                                <div class="d-flex justify-content-between w-50">
                                    <p>09:00 AM - 09:55 AM</p>
                                    <!-- <p><strong>Starts At :</strong> 08:45 AM</p> -->
                                </div>

                            </div>
                            <div class="row mt-2 m-auto">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="d-flex justify-content-between w-50">
                                        <p><strong>By :</strong> Mr. Alok Jha</p>
                                        <p class="d-inline"> <strong>Monday |</strong></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="assignment" style="border-radius: 0;padding: 0;">
                <div class="row">
                    <div class="col-lg-4">


                        <div class="row">
                            <div class="d-flex w-25">
                                <p style="border: 0.5px solid #b3b3b3;width: 50px;height: 50px;border-radius: 100%;padding: 14px 19px;margin-left: -18px;position: relative;bottom: 19px;">1</p>
                                <h5 style="margin: 15px;">SST</h5>

                            </div>
                            <div class="d-flex justify-content-around">
                                <div class="m-lg-1">
                                    <h6>ID : 862 103 8519</h6>
                                </div>
                                <div class="m-lg-1">
                                    <h6>Password :</h6>
                                    <h6>12323</h6>
                                </div>
                            </div>




                        </div>

                    </div>

                    <div class="col-lg-7 col-md-7 ">
                        <div class="mt-3">
                            <div class="sub-decrip sub-liv">
                                <div class="d-flex justify-content-between w-50">
                                    <p>09:00 AM - 09:55 AM</p>
                                    <!-- <p><strong>Starts At :</strong> 08:45 AM</p> -->
                                </div>

                            </div>
                            <div class="row mt-2 m-auto">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="d-flex justify-content-between w-50">
                                        <p><strong>By :</strong> Mr. Alok Jha</p>
                                        <p class="d-inline"> <strong>Tuesday |</strong></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-wrapper">
                <div class="col-md-12">
                <div id="page-wrapper">
        <div class="row printhide">
            <div class="col-lg-12">
                <h1 class="page-header">Live Classes</h1>
                        </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading printhide">
                        <span>All Lesson list</span>
                        <button onClick="make_print()" class="btn btn-danger" href="">Download</button>
                        <a class="btn btn-warning" href="https://account.campuscover.com/admin/videotutorial/subject">Video tutorial</a>
                        <a class="btn btn-primary" href="https://account.campuscover.com/admin/lesson/subject">Lesson Plan</a>
                        
                    </div>
                    
                    
                                    <div class="panel-body">
                        
                        <div class="rowblock">
                            <div class="text-center">
                                <p><b>INSTRUCTION : </b>Join class from <b> <a target="_blank" href="https://us04web.zoom.us/j/">Zoom APP </a> </b> Download your Classes Routine  |  <b>Current Time : </b> 12 : 11 PM</p> 
                                <hr>Meeting Password is : <b>12345</b>
                            </div>
                        </div>
                        
                        
                        
                        <div class="title_row text-center" style='background: white;color: #ed1c24;'>
                            <b>List of Today's Class</b>
                        </div>
                        
                                                                    <div class='oneblock' title="55902 , 55890 , 55896 , 55908 , 55914">
                                
                                <div class='col-md-4'>
                                    <div class='row'>
                                        <div class='col-md-12'>
                                            <div class="sticky_left">1</div>
                                            <span class="small">I <span class='small'> , </span></span>
                                            
                                            <div class="title"><b>SST</b></div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-md-12'><br>
                                                <div class='col-md-6 col-xs-6'>
                                                    <b>ID : </b> <a href="https://us04web.zoom.us/j/862 103 8519" target="_blank">862 103 8519</a>
                                                </div>
                                                <div class='col-md-6 col-xs-6'>	
                                                    <b> Password : </b> <a href="https://us04web.zoom.us/j/862 103 8519" target="_blank">12345</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <div class='col-md-8 '>
                                    <div class='row'>
                                        <div class='col-md-12 mobilemargin'>
                                            <div class='row'>
                                                <div class='col-md-8 col-xs-6'>09:00 AM - 09:55 AM</div>
                                                <div class='col-md-4  col-xs-6'><b>Starts At :</b> 08:45 AM</div>
                                            </div>
                                        </div>
                                        <div class='col-md-12 mobilemargin'>
                                            <div class='row'>
                                                <hr>
                                                <div class='col-md-4'><b>By : </b>Mr. Rahul Mishra</div>
                                                
                                                <div class='col-md-8 mobilemargin'> <b>Thursday</b>  |  <b>Tuesday</b>  |  <b>Wednesday</b>  |  <b>Friday</b>  |  <b>Saturday</b>  |  </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            
                                                    <div class='oneblock' title="55904 , 55886 , 55892 , 55898 , 55910 , 55916">
                                
                                <div class='col-md-4'>
                                    <div class='row'>
                                        <div class='col-md-12'>
                                            <div class="sticky_left">2</div>
                                            <span class="small">I <span class='small'> , </span></span>
                                            
                                            <div class="title"><b>Hindi</b></div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-md-12'><br>
                                                <div class='col-md-6 col-xs-6'>
                                                    <b>ID : </b> <a href="https://us04web.zoom.us/j/" target="_blank"></a>
                                                </div>
                                                <div class='col-md-6 col-xs-6'>	
                                                    <b> Password : </b> <a href="https://us04web.zoom.us/j/" target="_blank">12345</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <div class='col-md-8 '>
                                    <div class='row'>
                                        <div class='col-md-12 mobilemargin'>
                                            <div class='row'>
                                                <div class='col-md-8 col-xs-6'>11:00 AM - 11:55 AM</div>
                                                <div class='col-md-4  col-xs-6'><b>Starts At :</b> 10:45 AM</div>
                                            </div>
                                        </div>
                                        <div class='col-md-12 mobilemargin'>
                                            <div class='row'>
                                                <hr>
                                                <div class='col-md-4'><b>By : </b>Mrs. Anu Tripathi</div>
                                                
                                                <div class='col-md-8 mobilemargin'> <b>Thursday</b>  |  <b>Monday</b>  |  <b>Tuesday</b>  |  <b>Wednesday</b>  |  <b>Friday</b>  |  <b>Saturday</b>  |  </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            
                                                    <div class='oneblock' title="55905 , 55887 , 55893 , 55899 , 55911 , 55917">
                                
                                <div class='col-md-4'>
                                    <div class='row'>
                                        <div class='col-md-12'>
                                            <div class="sticky_left">3</div>
                                            <span class="small">I <span class='small'> , </span></span>
                                            
                                            <div class="title"><b>English</b></div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-md-12'><br>
                                                <div class='col-md-6 col-xs-6'>
                                                    <b>ID : </b> <a href="https://us04web.zoom.us/j/862 103 8519" target="_blank">862 103 8519</a>
                                                </div>
                                                <div class='col-md-6 col-xs-6'>	
                                                    <b> Password : </b> <a href="https://us04web.zoom.us/j/862 103 8519" target="_blank">12345</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <div class='col-md-8 '>
                                    <div class='row'>
                                        <div class='col-md-12 mobilemargin'>
                                            <div class='row'>
                                                <div class='col-md-8 col-xs-6'>12:00 PM - 12:55 PM</div>
                                                <div class='col-md-4  col-xs-6'><a class='btn btn-danger' target='_blank' href='https://us04web.zoom.us/j/862 103 8519'>Join Class</a></div>
                                            </div>
                                        </div>
                                        <div class='col-md-12 mobilemargin'>
                                            <div class='row'>
                                                <hr>
                                                <div class='col-md-4'><b>By : </b>Mr. Sanjeet Singh</div>
                                                
                                                <div class='col-md-8 mobilemargin'> <b>Thursday</b>  |  <b>Monday</b>  |  <b>Tuesday</b>  |  <b>Wednesday</b>  |  <b>Friday</b>  |  <b>Saturday</b>  |  </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            
                                                    
                            <div class="title_row text-center" style='background: white;color: #ed1c24;'>List of Other Day Class</div>
                                                    <div class='oneblock' title="55884">
                                
                                <div class='col-md-4'>
                                    <div class='row'>
                                        <div class='col-md-12'>
                                            <div class="sticky_left">4</div>
                                            <span class="small">I <span class='small'> , </span></span>
                                            
                                            <div class="title"><b>Hindi</b></div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-md-12'><br>
                                                <div class='col-md-6 col-xs-6'>
                                                    <b>ID : </b> <a href="https://us04web.zoom.us/j/862 103 8519" target="_blank">862 103 8519</a>
                                                </div>
                                                <div class='col-md-6 col-xs-6'>	
                                                    <b> Password : </b> <a href="https://us04web.zoom.us/j/862 103 8519" target="_blank">12345</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <div class='col-md-8 '>
                                    <div class='row'>
                                        <div class='col-md-12 mobilemargin'>
                                            <div class='row'>
                                                <div class='col-md-8 col-xs-6'>09:00 AM - 09:55 AM</div>
                                                <div class='col-md-4  col-xs-6'></div>
                                            </div>
                                        </div>
                                        <div class='col-md-12 mobilemargin'>
                                            <div class='row'>
                                                <hr>
                                                <div class='col-md-4'><b>By : </b>Mr. Rahul Mishra</div>
                                                
                                                <div class='col-md-8 mobilemargin'> <b>Monday</b>  |  </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                <div class='oneblock' title="23640">
                                
                                <div class='col-md-4'>
                                    <div class='row'>
                                        <div class='col-md-12'>
                                            <div class="sticky_left">5</div>
                                            <span class="small">I <span class='small'> , </span></span>
                                            
                                            <div class="title"><b>English</b></div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-md-12'><br>
                                                <div class='col-md-6 col-xs-6'>
                                                    <b>ID : </b> <a href="https://us04web.zoom.us/j/862 103 8519" target="_blank">862 103 8519</a>
                                                </div>
                                                <div class='col-md-6 col-xs-6'>	
                                                    <b> Password : </b> <a href="https://us04web.zoom.us/j/862 103 8519" target="_blank">12345</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <div class='col-md-8 '>
                                    <div class='row'>
                                        <div class='col-md-12 mobilemargin'>
                                            <div class='row'>
                                                <div class='col-md-8 col-xs-6'>08:00 AM - 09:00 AM</div>
                                                <div class='col-md-4  col-xs-6'></div>
                                            </div>
                                        </div>
                                        <div class='col-md-12 mobilemargin'>
                                            <div class='row'>
                                                <hr>
                                                <div class='col-md-4'><b>By : </b>Mr. Deepak Kumar</div>
                                                
                                                <div class='col-md-8 mobilemargin'> <b>Tuesday</b>  |  </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                            
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    </div>
    <app-student-footer></app-student-footer>
</div>